html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 120px;
    margin: 30px auto;
}

input {
    background-color: antiquewhite;
    border-radius: 5px;
}

button {
    background-color: blue;
    color: white;
}
